# Vchu Homework 11 
Step 2 Database Engineering

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [3]:
cleaned_measurements = pd.read_csv("clean_measurement.csv")
cleaned_stations = pd.read_csv("clean_station.csv")
cleaned_measurements.tail()

           station        date  prcp  tobs
18098  USC00516128  2017-08-17  0.13    72
18099  USC00516128  2017-08-19  0.09    71
18100  USC00516128  2017-08-21  0.56    76
18101  USC00516128  2017-08-22  0.50    76
18102  USC00516128  2017-08-23  0.45    76

In [3]:
class Measurement(Base):
    __tablename__= "Measurement"
    id=Column(Integer, primary_key=True)
    station=Column(String)
    date=Column(String)
    prcp=Column(Float)
    tobs=Column(Integer)
class Stations(Base):
    __tablename__="Stations"
    id=Column(Integer, primary_key=True)
    station=Column(String)
    name = Column(String)
    latitude=Column(Float)
    longitude=Column(Float)
    elevation=Column(Float)

In [4]:
engine=create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)

In [5]:
session = Session(bind=engine)

In [6]:
obj=Measurement(station="hawaii")
obj

In [7]:
for i, row in cleaned_measurements.iterrows():
    obj = Measurement(
        station=row['station'],
        date=row['date'],
        prcp=row['prcp'],
        tobs=row['tobs'])
    session.add(obj)
session.commit()

In [8]:
for i, row in cleaned_stations.iterrows():
    obj= Stations(
        station=row['station'],
        name=row['name'],
        latitude=row['latitude'],
        longitude=row['longitude'],
        elevation=row['elevation']
        )
    session.add(obj)
session.commit()

In [9]:
session.query(Measurement).filter_by(date="2010-01-01").count()

28