# Mission to Mars Homework 12 - VCHU

# Step 1- Scraping
NASA Mars News

In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import pandas as pd
from localenv import (consumer_key, 
                    consumer_secret, 
                    access_token, 
                    access_token_secret)
import tweepy
import time
mars_datadict={}

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}

In [3]:
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
Nasa_url = "https://mars.nasa.gov/news/"
browser.visit(Nasa_url)

In [5]:
Nasa_html = browser.html
Nasa_soup=bs(Nasa_html, 'html.parser')

In [6]:
latest_article = Nasa_soup.find('div', class_='list_text')
article_par = latest_article.find('div', class_='article_teaser_body').text
article_title = latest_article.find('div', class_='content_title').text
mars_datadict["article_title"] = article_title
mars_datadict["article_par"] = article_par

In [7]:
print(article_title)
print(article_par)

NASA Engineers Dream Big with Small Spacecraft
The first CubeSat mission to deep space will launch in May.

# JPL Mars SPace Images - Featured Image

In [8]:
JPL_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(JPL_url)
JPL_html = browser.html
JPL_soup = bs(JPL_html, 'html.parser')
JPL_img = JPL_soup.find('a', 'fancybox')['data-fancybox-href']
JPL_url = "https://www.jpl.nasa.gov"+JPL_img
featured_image_url = JPL_url
mars_datadict["featured_image_url"] = featured_image_url

In [9]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16220_ip.jpg

In [22]:
JPL_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(JPL_url)
JPL_html = browser.html
JPL_soup = bs(JPL_html, 'html.parser')
JPL_img = JPL_soup.find('a', 'fancybox')['data-fancybox-href']
JPL_url = "https://www.jpl.nasa.gov"+JPL_img
featured_image_url = JPL_url
    
mars_datadict["featured_image_url"] = featured_image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16220_ip.jpg

# Mars Weather

In [11]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())
target_user = "MarsWxReport"
latest_tweet = api.user_timeline(target_user, count=1)
mars_weathertweet=latest_tweet[0]['text']
mars_datadict["mars_weathertweet"] = mars_weathertweet

In [12]:
mars_weathertweet

'Sol 2026 (April 18, 2018), Sunny, high -6C/21F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:26-17:21'

# Mars Facts

In [13]:
Mars_url = "http://space-facts.com/mars/"
tables = pd.read_html(Mars_url)

In [14]:
Mars_df = tables[0]
Mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
html_table = Mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
mars_datadict["html_table"] = html_table

# Mars Hemisphere

In [17]:
Hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(Hemisphere_url)
Hemisphere_html = browser.html
Hemisphere_soup = bs(Hemisphere_html, 'html.parser')
hemisphere_data=[]
for i in range(4):
    mars_img = browser.find_by_tag('h3')
    mars_img[i].click()
    Hemisphere_html=browser.html
    Hemisphere_soup=bs(Hemisphere_html, 'html.parser')
    mars_imgurl=Hemisphere_soup.find("img", class_="wide-image")["src"]
    image_title = Hemisphere_soup.find("h2", class_="title").text
    image_url = 'https://astrogeology.usgs.gov' + mars_imgurl
    info={"image title":image_title,
               "image url":image_url}
    hemisphere_data.append(info)
    browser.back()

In [18]:
hemisphere_data

[{'image title': 'Cerberus Hemisphere Enhanced',
  'image url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'image title': 'Schiaparelli Hemisphere Enhanced',
  'image url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'image title': 'Syrtis Major Hemisphere Enhanced',
  'image url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'image title': 'Valles Marineris Hemisphere Enhanced',
  'image url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [19]:
mars_datadict["hemisphere_data"] = hemisphere_data
mars_datadict

{'article_par': 'The first CubeSat mission to deep space will launch in May.',
 'article_title': 'NASA Engineers Dream Big with Small Spacecraft',
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16220_ip.jpg',
 'hemisphere_data': [{'image title': 'Cerberus Hemisphere Enhanced',
   'image url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
  {'image title': 'Schiaparelli Hemisphere Enhanced',
   'image url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
  {'image title': 'Syrtis Major Hemisphere Enhanced',
   'image url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
  {'image title': 'Valles Marineris Hemisphere Enhanced',
   'image url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}],
 'html_table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'mars_weathertweet': 'Sol 2026 (April 18, 2018), Sunny, high -6C/21F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:26-17:21'}

# Step 2 - MongoDB and Flask Application

In [24]:
hemisphere_data[0]['image_url']

KeyError: 'image_url'